
.app {
  margin: 1rem 4rem;
  background: white;
}
.editor {
  background: white;
}

.app .ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
  background-color: white;
}

/* Snow Theme */
.app .ql-snow.ql-toolbar {
  display: block;
  /* background: #eaecec; */
  background-color: white;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}


/* Bubble Theme */
/* .app .ql-bubble .ql-editor {
  border: 1px solid #ccc;
  border-radius: 0.5em;
} */

.app .ql-editor {
  min-height: 100em;
}

/* .themeSwitcher {
  margin-top: 0.5em;
  font-size: small;
} */