.authorcourse {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-height: 1600px;
  min-width: 100px;
  margin: 10px;
  width: 100%;
  z-index: 1;
  border-radius: 20px;
  background-color:gainsboro;
  box-shadow: 5px 10px #888888;
}

.authorcourse__info {
  height: 100px;
  margin-bottom: 15px;
}

.authorcourse__price {
  margin-top: 5px;
}

.authorcourse__img {
  max-height: 400px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}