.checkoutProduct {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  background-color: gainsboro;
  box-shadow: 5px 10px #888888;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
  padding-bottom: 15px;
}

.checkoutProduct__info {
  padding-left: 20px;

}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800px;

}

/* .checkoutProduct__info > button {
  background: #4C5D72;
  border: 1px solid;
  margin-top:10px;
} */
.checkout__Button {
  background-color: #4C5D72;
  color: white;
  border: none;
  outline: none;
  border-radius: 35px;
  padding: 15px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: .8em;
  font-weight: 200;
  width: 110px;
}