.checkout {
  display: flex;
  padding: 20px;
  background-color: white ;
  height: max-content;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 10px;

}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid #4C5D72
}

.checkout__right {
  padding-top: 85px;
}
