.footer {
  background-color: white;
  height: 70px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  justify-content: space-between;
}

.footer__logo {
  width: 120px;
  margin-top: 18px;
  margin-left: 20px;
  margin-right: 20px;
}

.footer__nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer__optionLine {
  font-size: 13px;
  font-weight: 800;
  margin-left: 10px;
  margin-right: 10px;
}

.footer__link {
  color: #4C5D72;
  text-decoration: none;
}
