.header {
  background-color: white;
  height: 60px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  justify-content: space-between;
  padding: 10px;
}

.header__logo {
  width: 250px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 36px;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px; 
  margin-right: 10px;
}

.header__optionLine {
  font-size: 13px;
  font-weight: 800;
  margin-left: 10px;
  margin-right: 10px;
}

.header__optionFirst {
  font-size: 10px;
}

.header__optionSecond {
  font-size: 13px;
  font-weight: 800;
}

.header__link {
  color: #4C5D72;
  text-decoration: none;
}

.header__search {
  display: flex;
  flex: 1 1;
  padding-right: 20px;
  padding-left: 10px;
}

.search__form {
  display: flex;
  width: 100%;
  flex: 1 1 100%;
  height: 32px;
}

.radius {
  width: 100%;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #707b8b;
}

.header__icon {
  height: 40px !important;
}

.header__bas {
  display:flex;
  height: 36px;
  align-items: center;
}

.header__optionBasket{
  color: #707b8b;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.header__basketCount {
  position: absolute;
  top: 14px;
  margin-left: 10px;
  border-radius: 8px;
  color: white;
  font-size: 12px;
  line-height: 1.13;
  min-width: 10px;
  padding: 2px 6px;
  text-align: center;
  pointer-events: none;
  background-color:#e29387;
}

.headernav__Button {
  background-color: #707b8b;
  color: white;
  border: none;
  outline: none;
  border-radius: 35px;
  padding: 15px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: .8em;
  font-weight: 200;
  width: 90px;
}